<h2>Exercise 2: Testing page/widget bindings</h2>
<div>
	<button (click)="_onChangeDataLayout()">Change Data on Layout</button>	
	<button (click)="_onChangeDataWidget()">Change Data on Widget</button>	
</div>

<section class="card">
  <div class="card-content">
    <div class="card-title">Widgets with subscribe in component</div>
    <ul class="collection">
      <li class="collection-item" *ngFor="let options of _layoutWithSubscribe">
        <app-widget [options]="options" ></app-widget>
      </li>
    </ul>
  </div>
</section>

